{% load static %}

{% if error %}
    <script>
        alert('{{ error }}');
    </script>
{% endif %}




<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Sign Up</title>
      <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper signup-wrapper">
         <div class="title-text">
            <div class="title login">
               Admin Signup
            </div>
            <div class="title signup">
               Signup Form
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
               <form method="post" class="signup">
                  {% csrf_token %}
                  <div class="field">
                     <input type="text" name="username" placeholder="Username" required>
                  </div>
                  <div class="field">
                     <input type="email" name="email" placeholder="Email" required>
                  </div>
                  <div class="field">
                     <input type="password" name="password" placeholder="Password" required>
                  </div>
                  <div class="field">
                     <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                  </div>
                  <div class="btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Sign Up">
                  </div>
                  <div class="signup-link">
                     Already have an account? <a href="{% url 'admin_login' %}">Login</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>
